#intro {
  background-image: url("../img/max-duzij-qAjJk-un3BI-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}
.navbar .nav-link {
  color: #ffffff !important;
}
